* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.main {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: minmax(100px, auto);
    grid-template-areas: "navbar content" "footer footer";
}

.navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar .flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.navbar .flex .logo {
    margin-left: 15px;
    font-size: 1.4rem;
    font-family: 'Fjalla One', sans-serif;
}

.content {
    grid-area: content;
    min-height: 92vh;
    padding: 15px;
}

.footer {
    text-align: center;
    padding: 12px;
    color: white;
    background-color: #040f0f;
    grid-area: footer;
}